@model Fiorella.Models.Product

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<section id="products">
    <div class="container">
        <div class="row justify-content-center">
            <h2 class="text">Searched Product @Model.Name</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="product-item text-center">
                    <div class="img">
                        <a href="">
                            <img src="~/img/@Model.Image" class="img-fluid" alt="">
                        </a>
                    </div>
                    <div class="title mt-3">
                        <h6>@Model.Name</h6>
                    </div>
                    <div class="price">
                        <span class="text-black-50">Add to cart</span>
                        <span class="text-black-50">$@Model.Price</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <h2>All Products</h2>
        </div>
        <div class="row">
            @await Component.InvokeAsync("Product")
        </div>
    </div>
</section>