@using Fiorella.Models.ViewModels
@model List<Fiorella.Models.Product>
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<section id="products" style="min-height: 70vh">
    <div class="container">
        <div class="row" id="productRow">
            <input type="hidden" value="@ViewBag.ProductsCount" id="productsCount">
            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                    <div class="product-item text-center" data-id="@item.Category.Name.ToLower()">
                        <div class="img">
                            <a href="">
                                <img src="~/img/@item.Image" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="title mt-3">
                            <h6>@item.Name</h6>
                        </div>
                        <div class="price">
                            <span class="text-black-50">Add to cart</span>
                            <span class="text-black-50">$@item.Price</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="d-flex justify-content-center" id="loadMoreAnim">
        <div class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</section>