@model List<Product>

@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}

<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Products List</h4>
            <table class="table table-dark">
              <thead>
              <tr>
                <th> Product name </th>
                <th> Product Price </th>
                <th> Actions </th>
              </tr>
              </thead>
              <tbody>
              @foreach (var item in Model)
              {
                <tr>
                  <td> @item.Name </td>
                  <td> $ @item.Price </td>
                  <td>
                    <a class="btn btn-warning" asp-controller="Product" asp-action="Detail" asp-route-id="@item.Id"> Detail </a>
                    <a class="btn btn-danger"> Delete </a>
                  </td>
                </tr>
              }
              <a class="btn btn-success" asp-controller="Product" asp-action="Create"> Create </a>
              </tbody>
            </table>
          </div>
          <div class="d-flex mt-4 flex-wrap">
            <nav class="ml-auto">
              <ul class="pagination separated pagination-info">
                <li class="page-item">
                  <a href="#" class="page-link">
                    <i class="icon-arrow-left"></i>
                  </a>
                </li>
                <li class="page-item active">
                  <a href="#" class="page-link">1</a>
                </li>
                <li class="page-item">
                  <a href="#" class="page-link">2</a>
                </li>
                <li class="page-item">
                  <a href="#" class="page-link">3</a>
                </li>
                <li class="page-item">
                  <a href="#" class="page-link">4</a>
                </li>
                <li class="page-item">
                  <a href="#" class="page-link">
                    <i class="icon-arrow-right"></i>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>